{{ partial "products/common/schema.html" . }} 
<h1>{{ .Title }}</h1>

<p>
    {{ range $index, $element := .Params.options }}
    <span>{{ $index | humanize }}</span>
    <select class="select-{{ $index }}">
       {{ range $element  }}
        <option>{{ . }}</option>
      {{ end }}
    </select>
    {{ end }}
</p>
<p>
    {{ range .Params.images }}
    {{ partial "responsive-image"
    (dict
      "context" .
      "filename" .
      "altText" "prodct picture"
      "page" ($.Page.File.Path) 
      "nolink" "true"
    )
  }}
    {{ end }}
</p>

