{{ with .Params }}
<script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "Product",
    "name": "{{ .title }}",
    "description": "{{ .description }}",
    "brand": "{{ .brand }}",
    "image": "{{.thumbnailImage }}",
    "offers": {
      "@type": "Offer",
      "price": "{{ .actualPrice }}",
      "priceCurrency": "USD",
      "availability": "{{ .availability }}"
    },
    "category": {{.categories}},
    "keywords":{{.tags}}
      
    
    {{/* Add more properties as needed */}}
  }
</script>
  {{ end }}
<h1>{{ .Title }}</h1>
<p>
    <span class="product-compare-price"style="text-decoration: line-through">{{ .Params.comparePrice }}</span>
    <span class="product-actual-price">{{ .Params.actualPrice }}</span>
    <span class="product-not-in-stock" class="font-weight-bold" {{ if .Params.inStock }} style="display:none" {{end}}>— Sold Out</span>
</p>
<p>
    {{ range $index, $element := .Params.options }}
    <span>{{ $index | humanize }}</span>
    <select class="select-{{ $index }}">
       {{ range $element  }}
        <option>{{ . }}</option>
      {{ end }}
    </select>
    {{ end }}
</p>
<p>
    {{ range .Params.images }}
    {{ partial "responsive-image"
    (dict
      "context" .
      "filename" .
      "altText" "prodct picture"
      "page" ($.Page.File.Path) 
    )
  }}
    {{ end }}
</p>

<script>
    var productActualPrice  = {{ .Params.actualPrice }}
    var productComparePrice  = {{ .Params.comparePrice }}
    var productInStock = {{ .Params.inStock }}
    var productVariants = JSON.parse({{ .Params.variants | jsonify }})
</script>