<div class="row">

  {{ partial "products/common/schema.html" . }}



  <a class="link" href="{{ .RelPermalink }}" style="color: inherit;" aria-label="Read more about {{ .Params.title }} ">

    <h4 class="value-heading">{{ .Params.title }}</h4>
    <span>
      {{ partial "responsive-image"
      (dict
      "context" .
      "filename" .Params.thumbnailImage
      "page" ($.Page.File.Path)
      "altText" ($.Params.title)
      "nolink" "false"
      )
      }}
    </span>


    <p>

      <p>
        <span class="product-not-in-stock" class="font-weight-bold" {{ if .Params.inStock }} style="display:none"
          {{end}}>— Sold Out</span>
      </p>
    </p>
  </a>
  <div class="value-description">{{ .Summary}}</div>


  CALL :<a href="tel:{{ .Site.Data.localbusiness.telephone }}">{{ .Site.Data.localbusiness.telephone }}</a>

  </p>
  <a href="{{ .Params.bookingURL }}">
    <button>Make Appointment</button>
  </a>
  </p>

</div>