

<div>

  {{ partial "products/common/schema.html" . }} 



    <a class="link" href="{{ .RelPermalink }}" style="color: inherit;" aria-label="Read more about {{ .Params.title }} ">

      <div class="card">
        <span>
          {{ partial "responsive-image"
          (dict
          "context" .
          "filename" .Params.thumbnailImage
          "page" ($.Page.File.Path)
          "altText" ($.Params.title)
          "nolink" "false"
          )
          }}
      </span>
            <h2>{{ .Params.title }}</h2>
           
            <p>

<p>
    <span class="product-compare-price"style="text-decoration: line-through">${{ .Params.comparePrice }}</span>
    <span class="product-actual-price">{{ .Params.actualPrice }}</span>
    <span class="product-not-in-stock" class="font-weight-bold" {{ if .Params.inStock }} style="display:none" {{end}}>— Sold Out</span>
</p>
          </p>
        </a>
          <p>{{ .Summary | truncate 90 "..."}}</p>
          <p>
            
            CALL :<a href="tel:{{ .Site.Data.localbusiness.telephone }}">{{ .Site.Data.localbusiness.telephone }}</a>
            </p>
            <p>
              <a href="{{ .Params.bookingURL }}">
          <button>Make Appointment</button>
              </a>
        </p>
          </div>
    
</div>