{{ define "main" }}
<article class="container">
  {{/*
      Another frontmatter field `noTitle: true` prevents
      the page title from showing up here
    */}}
  {{ if not .Params.noTitle }}
  
    <h1>{{ .Title | htmlUnescape }}</h1>
  {{ end }}



  <main id="main">
    {{/* This is the markdown file content */}}
    {{ .Content }}
  </main>

  <nav class="row">
    <hr>
    <h1>Categories</h1>
    <ul >

        </li>
        {{ range ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
        <li>
            <a href="{{ .RelPermalink }}">{{ .Title | title }}</a>
        </li>
        {{ end }}
    </ul>
</nav>
</article>
{{ end }}