{{ define "main" }}
<article>
  {{/*
      Another frontmatter field `noTitle: true` prevents
      the page title from showing up here
    */}}
  {{ if not .Params.noTitle }}
  
    <h1>{{ .Title | htmlUnescape }}</h1>
  {{ end }}



  <main id="main">
    {{/* This is the markdown file content */}}
    {{ .Content }}

    <div class="appointment-message" style="text-align: center;">
      <p>Call us at <a href="tel:{{ .Site.Data.localbusiness.telephone }}">
          {{ .Site.Data.localbusiness.telephone }}
      </a> to make an appointment. These are our <a href="URL_TO_TERMS_OF_SERVICE">Terms of Services</a>.</p>
    </div>
  
  </main>
</article>
{{ end }}