<footer>
  <hr/>
 

   

    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/privacy">Privacy Policy</a></li>
      {{ range first 10 .Site.Taxonomies.tags.ByCount }}
      <li><a href="/tags/{{ .Name | urlize }}">{{ .Name }}</a> ({{ .Count }})</li>
    {{ end }}
    </ul>
    <div class="social">
      {{ if .Site.Data.social }}
        {{ range .Site.Data.social }}
          <a href="{{ .link }}" target="_blank">
            <img src="{{ .image | relURL }}" alt="{{ .name }}" width="20" height="20">
          </a>
        {{ end }}
      {{ end }}
  </div>
    <span>© 2023 {{ .Site.Data.localbusiness.name }}</span>
</footer>