<footer class="footer">
    <div class="footer-social">
      {{ if .Site.Data.social }}
        {{ range .Site.Data.social }}
          <a href="{{ .link }}" target="_blank">
            <img class="social-icons" src="{{ .image | relURL }}" alt="{{ .name }}" width="20" height="20">
          </a>
        {{ end }}
      {{ end }}
    </div>
    <ul class="footer-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    
    <p class="footer-text">© 2023 {{ .Site.Data.localbusiness.name }}</p>
</footer>