
<header>
    <nav>
      <div class="logo">{{ .Site.Title}}</div>
      <div class="hamburger-menu">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>
      <ul class="menu">
        {{/* Loop through all nav items */}}
        {{ range site.Data.nav }}
          <li>
            {{/* .url and .title are coming from the nav.yml file */}}
            <a href="{{ .url }}">{{ .title }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  </header>
  <script>
    const hamburgerMenu = document.querySelector('.hamburger-menu');
const menu = document.querySelector('.menu');

hamburgerMenu.addEventListener('click', () => {
  menu.classList.toggle('show');
});
  </script>