
<header>
   <div class="row">
      <div class="u-pull-left">
       <a class="" href="/">
        <div class="value-heading" style="color: #000;">NOON</div>
      </a>
      </div>

     
      <nav class="u-pull-right">
      <div class="hamburger-menu">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>
      <ul class="menu">
        {{/* Loop through all nav items */}}
        {{ range site.Data.nav }}
          <li>
            {{/* .url and .title are coming from the nav.yml file */}}
            <a href="{{ .url }}">{{ .title }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>



  </div>

  </header>
  <script>
    const hamburgerMenu = document.querySelector('.hamburger-menu');
const menu = document.querySelector('.menu');

hamburgerMenu.addEventListener('click', () => {
  menu.classList.toggle('show');
});
  </script>