
<header>
    <nav>
      <div>
        <a href="/">
        <img  src="/hero/logo.svg" alt="our logo" height="30">
      </a>
      </div>


      
      <div class="hamburger-menu">
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
        <div class="hamburger-line"></div>
      </div>
      <ul class="menu">
        {{/* Loop through all nav items */}}
        {{ range site.Data.nav }}
          <li>
            {{/* .url and .title are coming from the nav.yml file */}}
            <a href="{{ .url }}">{{ .title }}</a>
          </li>
        {{ end }}
      </ul>
    </nav>
  
  <div style="background-color: #000;">          
    CALL :<a style="color: #ffff;" href="tel:{{ .Site.Data.localbusiness.telephone }}">{{ .Site.Data.localbusiness.telephone }}</a>
   

      <a href="{{ .Params.bookingURL }}">
        <button style="color: #000;">Make Appointment</button>
            </a>


    </div>

  </header>
  <script>
    const hamburgerMenu = document.querySelector('.hamburger-menu');
const menu = document.querySelector('.menu');

hamburgerMenu.addEventListener('click', () => {
  menu.classList.toggle('show');
});
  </script>