{{ define "meta_tags" }}
{{ end }}

{{ define "main" }}

<hr/>

<div class="container">
CALL :<a href="tel:{{ .Site.Data.localbusiness.telephone }}">{{ .Site.Data.localbusiness.telephone }}</a>

            <a href="{{ .Site.Data.localbusiness.serviceUrl }}">
              <button>Make Appointment</button>
            </a>

        </div>

{{ $products := where (where .Site.RegularPages "Type" "products") ".Params.featured" true }}
{{if gt (len $products) 0}}
<div class="container">
<h2 class="value-heading">Our Featured Products</h2>

{{ range first 4 (sort $products ".Params.weight") }}
<hr/>
{{ partial "products/list/product-list-item.html" . }} 

{{ end }}
</div>
{{ end }}



{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container">
    
    <h2>Our Featured Services</h2>

{{ range (sort $services ".Params.weight") }}

<hr/>
{{ .Render "summary" }}
{{ end }}

</div>
{{ end }}












{{ end }}