{{ define "meta_tags" }}
<meta name="description" content="{{ .Site.Params.homepage_meta_tags.meta_description }}" />
<meta property="og:title" content="{{ .Site.Params.homepage_meta_tags.meta_og_title }}" />
<meta property="og:type" content="{{ .Site.Params.homepage_meta_tags.meta_og_type }}" />
<meta property="og:url" content="{{ .Site.Params.homepage_meta_tags.meta_og_url }}" />
<meta property="og:image" content="{{ .Site.Params.homepage_meta_tags.meta_og_image }}" />
<meta property="og:description" content="{{ .Site.Params.homepage_meta_tags.meta_og_description }}" />
<meta name="twitter:card" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_card }}" />
<meta name="twitter:site" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_site }}" />
<meta name="twitter:creator" content="{{ .Site.Params.homepage_meta_tags.meta_twitter_creator }}" />
{{ end }}

{{ define "main" }}




{{ $products := where (where .Site.RegularPages "Type" "products") ".Params.featured" true }}
{{if gt (len $products) 0}}
<div class="container">
<h2 class="value-heading">Our Featured Products</h2>

{{ range first 4 (sort $products ".Params.weight") }}
<hr/>
{{ partial "products/list/product-list-item.html" . }} 

{{ end }}
</div>
{{ end }}



{{ $services := where (where .Site.RegularPages "Type" "services") ".Params.featured" true }}
{{if gt (len $services) 0}}
<div class="container">
    
    <h2>Our Featured Services</h2>

{{ range (sort $services ".Params.weight") }}

<hr/>
{{ .Render "summary" }}


{{ end }}

</div>
{{ end }}












{{ end }}