/* Reset default browser styles */
body, ul {
  margin: 0;
  font-size: 13px;
  margin-bottom: 20px;
  padding: 0px;
}

/* Header styles */
header {
  background-color: #f8f8f8;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

nav ul {
  list-style-type: none;
  text-align: center;

}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

/* Section styles */
section {
  background-color: #fff;
  padding: 48px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 0px;
}
h2 {
  font-size: 18px;
  margin-bottom: 0px;
  color:#333
}


/* Footer styles */
footer {
  background-color: #f8f8f8;
  padding: 20px;
  text-align: center;
  color: #777;
  font-size: 14px;
}


  
a {
    color: #0000;
  }