{{ define "main" }}

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBxnYjcRENX-GdFlvK9hXkJ2qyUMp9qdo4"></script>
  <script>
    function initMap() {
      var location = {lat: 41.8781, lng: -87.6298}; // Coordinates for Chicago, IL
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: location
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
    }
  </script>
  <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "name": "Your Company Name",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "231 S State St",
        "addressLocality": "Chicago",
        "addressRegion": "IL",
        "postalCode": "60604",
        "addressCountry": "US"
      },
      "telephone": "678-386-1625",
      "email": "info@macagain.net",
      "url": "https://www.example.com",
      "openingHours": [
        "Mo-Fr 08:00-18:00",
        "Sa 10:00-18:00"
      ]
    }
  </script>
<article>
  {{/*
    Another frontmatter field `noTitle: true` prevents
    the page title from showing up here
  */}}
  {{ if not .Params.noTitle }}
  <header>
    <h1>{{ .Title | htmlUnescape }}</h1>
  </header>
  {{ end }}

  <main id="main">
    {{/* This is the markdown file content */}}
    {{ .Content }}
  </main>

  <div>
    <ul>
        <li>Address: 231 S State St, Chicago, IL</li>
        <li>Phone: 678-386-1625</li>
        <li>Email: info@macagain.net</li>
        <li>Business Hours:</li>
        <ul>
          <li>Monday to Friday: 8:00 AM - 6:00 PM</li>
          <li>Saturday: 10:00 AM - 6:00 PM</li>
        </ul>
        <div id="map"></div>
        <script>
          initMap();
        </script>

    </ul>


  </div>

</article>
{{ end }}