{{ define "main" }}

<style>
    #map {
      height: 400px;
      width: 100%;
    }
  </style>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY_HERE"></script>
  <script>
    function initMap() {
      var location = {lat: 41.8781, lng: -87.6298}; // Coordinates for Chicago, IL
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: location
      });
      var marker = new google.maps.Marker({
        position: location,
        map: map
      });
    }
  </script>
  <script type="application/ld+json">
    {{ .Site.Data.localbusiness }}
  </script>
<article>
  {{/*
    Another frontmatter field `noTitle: true` prevents
    the page title from showing up here
  */}}
  {{ if not .Params.noTitle }}
 
    <h1>{{ .Title | htmlUnescape }}</h1>

  {{ end }}

  <main id="main">
    {{/* This is the markdown file content */}}
    {{ .Content }}
  </main>

  <div>
    <ul>
      {{ if .Site.Data.localbusiness.telephone }}
  <li><strong> CALL :</strong><a href="tel:{{ .Site.Data.localbusiness.telephone }}">{{ .Site.Data.localbusiness.telephone }}</a></li>
  {{ end }}
    {{ if .Site.Data.localbusiness.email }}
    <li><strong>Email: </strong><a href="mailto:">info@sculpt-glow.com</a></li>
  {{ end }}
    {{ if .Site.Data.localbusiness.address }}
    <li style="white-space: pre-wrap;"><strong>Address: </strong>{{ .Site.Data.localbusiness.address.streetAddress }}, {{ .Site.Data.localbusiness.address.addressLocality }}, {{ .Site.Data.localbusiness.address.addressRegion }}, {{ .Site.Data.localbusiness.address.postalCode }}, {{ .Site.Data.localbusiness.address.addressCountry }}</li>
  {{ end }}

        <div id="map"></div>
        <script>
          function initMap() {
            var location = {
            lat: 41.8781,
            lng: -87.6298
             };
            var map = new google.maps.Map(document.getElementById('map'), {
              zoom: 15,
              center: location
            });
            var marker = new google.maps.Marker({
              position: location,
              map: map
            });
          }
        </script>

     </ul>
    {{ if .Site.Data.localbusiness.openingHoursSpecification }}
  <h4 class="mt-4">Business Hours</h4>
  <table class="table table-sm opening-hours-table">
    {{ range .Site.Data.localbusiness.openingHoursSpecification }}
    <tr>
      <td class="day font-weight-bold">
        {{ .dayOfWeek }}
        <br>
      </td>
      <td class="opens">{{ .opens }}</td>
      <td>-</td>
      <td class="closes">{{ .closes }}</td>
    </tr>
    {{ end }}
  </table>
{{ end }}

  </div>

</article>
{{ end }}