{{ $content := .Inner }}
{{ $minimized := .Get "minimized" | default false }}

<div class="container{{ if $minimized }} minimized{{ end }}">
  {{ $content }}
</div>

<div class="toggle-button" onclick="toggleContainer(this)">
  <span class="plus">+</span>
  <span class="minus">-</span>
</div>

<script>
  function toggleContainer(button) {
    const container = button.previousElementSibling;
    container.classList.toggle("minimized");
    button.classList.toggle("active");
  }
</script>

<style>
  .container {
    overflow: hidden;
    transition: max-height 0.3s ease;
  }

  .container.minimized {
    max-height: 0;
    padding: 0;
  }

  .toggle-button {
    margin-top: 0px;
    color: red;
    cursor: pointer;
  }

  .toggle-button span {
    display: inline-block;
    font-size: 18px;
    margin-right: 5px;
  }

  .toggle-button.active .plus {
    display: none;
  }

  .toggle-button.active .minus {
    display: inline-block;
  }
</style>
